<!DOCTYPE html>
<html>
<head>
  <title>Component</title>
  <%= stylesheet_link_tag ComponentLibrary.stylesheet_path, ComponentLibrary.configuration.application_css, media: 'all' %>
  <%= javascript_include_tag ComponentLibrary.javascript_path %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
