<h1>Component Library</h1>
<% if @library.components.any? %>
<%= render partial: @component_template, locals: { library: @library }  %>
<% else %>
<p>No html.erb components found at <code>/app/views/<%= @configuration[:root_directory] %></code></p>
<% end %>
