 html {
  font-family: sans-serif;
 }
.btn {
  padding: .5em;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  border: none;
  background-color: tomato;
  color: white;
  border-radius: .5em;
  transition: background-color 300ms;
  &:hover {
    background-color: scale-color(tomato, $lightness: -20%);
  }
}
.h1, .h2, .h3, .h4 {
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}