<!DOCTYPE html>
<html>
<head>
  <title>Component</title>
  <%= stylesheet_link_tag '_component_library/library', ComponentLibrary.application_css, media: 'all' %>
  <%= javascript_include_tag '_component_library/library' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
